*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "TT Hoves", sans-serif;
  font-weight: 400;
}

figure {
  margin: 0;
}

/* Text colors=================================================== */
.color-white, input::-webkit-input-placeholder {
  color: #fff !important;
}

/*Bg-color===========================================================*/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-top {
  background-position: top;
}

.bg-right {
  background-position: right;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-bottom {
  background-position: bottom;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

/* Widths & Heights================================================================== */
.w-100p {
  width: 100% !important;
}

.h-100-vh {
  height: 100vh;
}

.h-100p {
  height: 100%;
}

/* Borders ===========================================================*/
.border {
  border: 1px solid #000;
}

.border-dashed {
  border: 1px dashed #000;
}

.border-2 {
  border: 2px solid #000;
}

.border-top {
  border-top: 1px solid #000;
}

.border-bot {
  border-bottom: 1px solid #000;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.border-0 {
  border: none;
}

.border-1-5 {
  border: 1.5px solid #000;
}

.border-right {
  border-right: 1px solid #000;
}

/*Radius============================================================*/
.radius-50p {
  border-radius: 50%;
}

/* Flex positioning ============================================================*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d-flex-x-center, .d-flex-xy {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.d-flex-x-between {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.d-flex-y-center, .d-flex-xy {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d-inline-flex-x-center, .d-inline-flex-xy {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.d-inline-flex-y-center, .d-inline-flex-xy {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d-none {
  display: none !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Icons */
.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

/*Input styles====================================================================*/
.resize-none {
  resize: none;
}

.outline-0 {
  outline: none;
}

/*Others============================================================*/
.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.underline-0 {
  text-decoration: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-01 {
  opacity: 0.1;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-100p {
  right: 100%;
}

.right-0 {
  right: 0;
}

.left-100p {
  left: 100%;
}

.left-0 {
  left: 0;
}

.z-n1 {
  z-index: -1 !important;
}

.z-100 {
  z-index: 100;
}

.z-200 {
  z-index: 200;
}

.z-1000 {
  z-index: 1000;
}

.invert-1 {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.events-none * {
  pointer-events: none;
}

.object-fit-none {
  -o-object-fit: none;
     object-fit: none;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.of-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.list-reset,
.list-reset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.hover-node,
.hover,
.hover *,
.hover:hover * {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.hover-darkest:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

/*Selectric
.selectric{
  border: none;
  padding-left: 48px;
}
.selectric-open{z-index: 100;}
.selectric-wrapper{width: 100%}
.selectric .label{@extend .color-ebony-clay;}
.selectric .button{@extend .d-none;}
.selectric-items{
  border-radius: 0 0 6px 6px;
  @extend .border-E5E8ED;
}

.step .selectric{
  @extend .border;
  @extend .border-E5E8ED;
  @extend .radius-6;
  padding-left: 16px;
}

.step .selectric .label{margin: 0;}

.education-form .selectric-wrapper{margin-top: 4px;}
*/
.parsley-error input + label,
.parsley-error {
  border-color: red !important;
  outline-color: red;
  border-width: 2px !important;
  border-style: solid;
}

/*Hamburger menu - mobile menu */
.hamburger {
  display: inline-block;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger.is-active.hamburger-hover-no:hover,
.hamburger-hover-no:hover {
  opacity: 1;
}

.hamburger-box {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 32px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
  background-color: inherit;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger-border {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 9px 11px;
}

.hamburger-border.hamburger.is-active .hamburger-inner,
.hamburger-border.hamburger.is-active .hamburger-inner::before,
.hamburger-border.hamburger.is-active .hamburger-inner::after,
.hamburger-border .hamburger-inner:before,
.hamburger-border .hamburger-inner:after,
.hamburger-border .hamburger-inner {
  background-color: #fff;
}

/*All colors========================================================*/
:root {
  --advertising-bg: #4782F5;
  --main-text: #1D1E21;
}

/* Background colors=============================================================== */
.bg-cornflower-blue {
  background-color: var(--advertising-bg);
}

/* Text colors=============================================================== */
.color-shark {
  color: var(--main-text);
}

/*Filter Colors*/
.filter-crimson {
  -webkit-filter: invert(23%) sepia(86%) saturate(4520%) hue-rotate(353deg) brightness(96%) contrast(86%);
          filter: invert(23%) sepia(86%) saturate(4520%) hue-rotate(353deg) brightness(96%) contrast(86%);
}

/*Squares===============================================================*/
.square-16 {
  width: 16px;
  height: 16px;
}

.square-28 {
  width: 28px;
  height: 28px;
}

.square-48 {
  width: 48px;
  height: 48px;
}

/*Rectangles====================================*/
.rect-27-20 {
  width: 27px;
  height: 20px;
}

.rect-202-48 {
  width: 202px;
  height: 48px;
}

.rect-190-48 {
  width: 190px;
  height: 48px;
}

/*Heights===============================================================*/
.h-30 {
  height: 30px;
}

/*Widths===============================================================*/
.w-6 {
  width: 6px;
}

/* Borders ===============================================================*/
.border-D9D9D9 {
  border-color: #D9D9D9;
}

/* Border radius=============================================================== */
.radius-3 {
  border-radius: 3px;
}

/* Icons=============================================================== */
.icon-russian-flag {
  background-image: url("../img/icons/russian-flag.svg");
}

.icon-arrow-down {
  background-image: url("../img/icons/arrow-down.svg");
}

.icon-price {
  background-image: url("../img/icons/price.svg");
}

.icon-location {
  background-image: url("../img/icons/location.svg");
}

.icon-calendar {
  background-image: url("../img/icons/calendar.svg");
}

.icon-phone {
  background-image: url("../img/icons/phone.svg");
}

.icon-search {
  background-image: url("../img/icons/search.svg");
}

.icon-c {
  background-image: url("../img/icons/c.svg");
}

.icon-shopping-cart {
  background-image: url("../img/icons/shopping-cart.svg");
}

/*Images===============================================================*/
.img-advertising-bg {
  background-image: url("../img/advertising-bg.svg");
}

/*Input styles=============================================*/
.input::-webkit-input-placeholder {
  color: #272C38 !important;
  opacity: 0.4 !important;
  font-family: "TT Hoves", sans-serif;
}
.input::-moz-placeholder {
  color: #272C38 !important;
  opacity: 0.4 !important;
  font-family: "TT Hoves", sans-serif;
}
.input:-ms-input-placeholder {
  color: #272C38 !important;
  opacity: 0.4 !important;
  font-family: "TT Hoves", sans-serif;
}
.input::-ms-input-placeholder {
  color: #272C38 !important;
  opacity: 0.4 !important;
  font-family: "TT Hoves", sans-serif;
}
.input::placeholder {
  color: #272C38 !important;
  opacity: 0.4 !important;
  font-family: "TT Hoves", sans-serif;
}

input::-webkit-input-placeholder {
  opacity: 0.6;
  font-size: 15px;
  line-height: 24px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 1;
}

/*Others===========================================================*/
.left-pos {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top-pos {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.overflow-hidden {
  overflow: hidden;
}

/*Hamburger Menu*/
.link-white a, .link-white a * {
  color: #fff !important;
}
.link-white .hamburger .hamburger-inner {
  background-color: #fff;
}
.link-white #js-menu-mobile a, .link-white #js-menu-mobile a * {
  color: #000 !important;
}
.link-white #js-menu-mobile .hamburger .hamburger-inner {
  background-color: #000;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.fw-400, input::-webkit-input-placeholder {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* Line heights========================================================= */
.lh-16 {
  line-height: 16px;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

.lh-28 {
  line-height: 28px;
}

.lh-32 {
  line-height: 32px;
}

.lh-36 {
  line-height: 36px;
}

/* Font sizes =========================================================*/
.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

@media (min-width: 768px) {
  /*Font sizes=========================================================*/
  .fs-md-16 {
    font-size: 16px;
  }

  .fs-md-18 {
    font-size: 18px;
  }

  .fs-md-20 {
    font-size: 20px;
  }

  .fs-md-40 {
    font-size: 40px;
  }

  /*Line heights=========================================================*/
  .lh-md-28 {
    line-height: 28px;
  }

  .lh-md-52 {
    line-height: 52px;
  }
}
@media (min-width: 992px) {
  /*Font sizes=========================================================*/
  .fs-lg-18 {
    font-size: 18px;
  }

  /*Line heights=========================================================*/
  .lh-lg-24 {
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  /*Font sizes=========================================================*/
  .fs-xl-18 {
    font-size: 18px;
  }

  .fs-xl-48 {
    font-size: 48px;
  }

  /*Line heights=========================================================*/
  .lh-xl-56 {
    line-height: 56px;
  }
}
@media (max-width: 321px) {
  .w-i5-286 {
    width: 286px;
  }
}
@media (min-width: 768px) {
  /*Slider*/
  .slider1.swiper-container {
    height: 571px !important;
  }

  /*Width height*/
  .w-md-156 {
    width: 156px;
  }

  .w-md-469 {
    width: 469px;
  }

  .h-md-410 {
    height: 410px;
  }

  .rect-md-50-40 {
    width: 50px;
    height: 40px;
  }

  .rect-md-469-188 {
    width: 469px;
    height: 188px;
  }

  /*Position*/
  .right-md-58p {
    right: -58%;
  }

  .bottom-md-12p {
    bottom: 12%;
  }

  /*Flex positioning ===================================================== */
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-flex-x-center, .d-md-flex-xy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .d-md-flex-x-between {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .d-md-flex-y-center, .d-md-flex-xy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .d-md-none {
    display: none;
  }

  .border-md-right {
    border-right: 1px solid #000;
  }

  .border-md-D6DCE3 {
    border-color: #D6DCE3;
  }
}
@media (min-width: 992px) {
  /*Swiper slider*/
  .slider2.swiper-container {
    height: 776px !important;
  }

  .slider3.swiper-container, .slider5.swiper-container {
    height: 100%;
  }

  .swiper-pagination-my2 {
    display: block !important;
  }
  .swiper-pagination-bullet2 {
    width: 8px;
    height: 8px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.1;
    background-color: #000000;
    display: block;
    border-radius: 100%;
  }
  .swiper-pagination-bullet2:first-child {
    margin-top: 0;
  }
  .swiper-pagination-bullet2-my2-active {
    border: 3px solid #007332;
    background: transparent;
    width: 16px;
    height: 16px;
    opacity: 1;
    outline: none;
  }

  .pagination-pos {
    top: 24%;
    right: auto;
  }

  /*Timer*/
  .countMinutes, .countHours {
    margin-right: 14px;
  }

  /*Widths=====================================================*/
  .w-lg-56 {
    width: 56px;
  }

  .w-lg-90 {
    width: 90px;
  }

  .w-lg-175 {
    width: 175px;
  }

  .w-lg-195 {
    width: 195px;
  }

  .w-lg-246 {
    width: 246px;
  }

  .w-lg-350 {
    width: 350px;
  }

  .w-lg-440 {
    width: 440px;
  }

  .w-lg-470 {
    width: 470px;
  }

  .w-lg-608 {
    width: 608px;
  }

  .w-lg-625 {
    width: 625px;
  }

  .w-lg-672 {
    width: 672px;
  }

  .w-lg-220 {
    width: 220.44px;
  }

  .w-lg-70p {
    width: 70%;
  }

  .w-lg-95p {
    width: 95%;
  }

  .w-lg-100p {
    width: 100%;
  }

  /*Heights=====================================================*/
  .h-lg-58 {
    height: 58px;
  }

  .h-lg-89 {
    height: 89px;
  }

  .h-lg-164 {
    height: 164px;
  }

  .h-lg-186 {
    height: 186px;
  }

  .h-lg-472 {
    height: 472px;
  }

  .h-lg-632 {
    height: 632px;
  }

  .h-lg-640 {
    height: 640px;
  }

  .h-lg-700 {
    height: 700px;
  }

  .h-lg-708 {
    height: 708px;
  }

  .h-lg-939 {
    height: 939px;
  }

  .h-lg-100p {
    height: 100%;
  }

  .full-height-cabinet-lg {
    height: calc(100vh - 154px + 64px);
  }

  /*Border-radius=====================================================*/
  .radius-lg-32 {
    border-radius: 32px;
  }

  .radius-lg-50 {
    border-radius: 50px;
  }

  /*Rectangles====================================*/
  .rect-lg-61-86 {
    width: 61px;
    height: 86px;
  }

  .rect-lg-108-55 {
    width: 108px;
    height: 55px;
  }

  /*Squares==============================================*/
  .square-lg-13 {
    width: 13px;
    height: 13px;
  }

  .square-lg-16 {
    width: 16px;
    height: 16px;
  }

  .square-lg-24 {
    width: 24px;
    height: 24px;
  }

  .square-lg-32 {
    width: 32px;
    height: 32px;
  }

  .square-lg-40 {
    width: 40px;
    height: 40px;
  }

  .square-lg-48 {
    width: 48px;
    height: 48px;
  }

  .square-lg-52 {
    width: 52px;
    height: 52px;
  }

  .square-lg-80 {
    width: 80px;
    height: 80px;
  }

  .square-lg-116 {
    width: 116px;
    height: 116px;
  }

  /*Images===============================================================*/
  .img-lg-time-bg {
    background-image: url("../img/time-bg.svg");
  }

  /*Others=====================================================*/
  .border-lg-none {
    border: none;
  }

  .bg-lg-center {
    background-position: center center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  .opacity-lg-1 {
    opacity: 1;
  }

  .object-fit-lg-none {
    -o-object-fit: none;
       object-fit: none;
  }

  .of-lg-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .top-lg-55 {
    top: 55px;
  }

  .top-lg-240 {
    top: 240px;
  }

  .number-lg-pos {
    top: -4px;
    right: -4px;
  }

  .step-bar-pos {
    top: 4%;
    left: 10%;
  }

  .right-lg-25p {
    right: -25%;
  }

  .step1 .selectric, .step2 .selectric {
    padding-left: 5px;
  }

  /*Flex positioning ===================================================== */
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-flex-x-center, .d-lg-flex-xy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .d-lg-flex-x-between {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .d-lg-flex-y-center, .d-lg-flex-xy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  .d-lg-inline-flex-y-center {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*---------------------------------------------------------------*/
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }

  /*Height width*/
  .h-xl-100p {
    height: 100%;
  }

  .h-xl-89-vh {
    height: 89vh;
  }

  .h-xl-100vh {
    height: 100vh;
  }

  .h-xl-670 {
    height: 670px;
  }

  .h-xl-799 {
    height: 799px;
  }

  .w-xl-90 {
    width: 90px;
  }

  .w-xl-91 {
    width: 91px;
  }

  .w-xl-143 {
    width: 143px;
  }

  .w-xl-199 {
    width: 199px;
  }

  .w-xl-302 {
    width: 302px;
  }

  .w-xl-350 {
    width: 350px;
  }

  .w-xl-440 {
    width: 440px;
  }

  .w-xl-700 {
    width: 700px;
  }

  /*Others*/
  .bg-xl-right {
    background-position: right;
  }

  .right-xl-0 {
    right: 0;
  }

  .left-xl-6p {
    left: -6%;
  }

  .text-xl-left {
    text-align: left;
  }

  .text-xl-right {
    text-align: right;
  }

  .step-bar-pos {
    top: 6%;
    left: 25%;
  }

  .swiper-button-pos {
    bottom: 109px;
    right: 54%;
  }

  .step1 .selectric, .step2 .selectric {
    padding-left: 16px;
  }

  /*Flex positioning ===================================================== */
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-flex-x-center, .d-xl-flex-xy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .d-xl-flex-x-between {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .d-xl-flex-y-center, .d-xl-flex-xy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1445px) {
  .delete {
    right: -215px;
  }

  .w-ext-130 {
    width: 130px;
  }

  .w-ext-210 {
    width: 210px;
  }
}