  .roboto{font-family: 'Roboto', sans-serif;}
  


  @for $i from 4 through 7 {
    .fw-#{$i * 100} { font-weight: #{$i * 100} }
  }
  
  /* Line heights========================================================= */
  $line-heights:16, 18, 20,  24, 28, 32, 36;
  @each $lh in $line-heights {
    .lh-#{$lh} { line-height: #{$lh}px }
  }
  
  
  
  
  /* Font sizes =========================================================*/
  $font-sizes:9,10,11,12, 13, 14, 15, 16, 18, 20, 24, 30 ;
  @each $size in $font-sizes {
    .fs-#{$size} { font-size: #{$size}px }
  }
  
  
  
  

  @media (min-width: map-get($break-points-config, md)) {
      /*Font sizes=========================================================*/
      $font-sizes:16, 18, 20, 40;
      @each $size in $font-sizes {
        .fs-md-#{$size} { font-size: #{$size}px }
      }
      /*Line heights=========================================================*/
      $line-heights:  28, 52;
      @each $lh in $line-heights {
        .lh-md-#{$lh} { line-height: #{$lh}px }
      }
  }
  
  @media (min-width: map-get($break-points-config, lg)) {
  /*Font sizes=========================================================*/
    $font-sizes:18;
    @each $size in $font-sizes {
      .fs-lg-#{$size} { font-size: #{$size}px }
    }
  /*Line heights=========================================================*/
    $line-heights: 24, ;
    @each $lh in $line-heights {
      .lh-lg-#{$lh} { line-height: #{$lh}px }
    }
  
    
  }
  
  @media (min-width: 1200px) {
    /*Font sizes=========================================================*/
      $font-sizes:  18, 48;
      @each $size in $font-sizes {
        .fs-xl-#{$size} { font-size: #{$size}px }
      }
  
      
    /*Line heights=========================================================*/
     
      .lh-xl-56 { line-height: 56px }
      
    
    }
    


