*,*:before, *:after{ box-sizing: border-box; }
body{
     margin: 0;
     font-family: 'TT Hoves' , sans-serif;
     font-weight: 400;
    
 }

 figure{
   margin: 0;
 }


/* Text colors=================================================== */
.color-white { color: $color-white !important; }


/*Bg-color===========================================================*/


.bg-white { background-color: $color-white }
.bg-black { background-color: $color-black }
.bg-transparent { background-color: transparent; }
.bg-top {background-position: top;}
.bg-right { background-position: right; }
.bg-center { background-position: center;}
.bg-left { background-position: left;}
.bg-bottom {background-position: bottom;}
.bg-no-repeat { background-repeat: no-repeat; }
.bg-contain { background-size: contain; }
.bg-cover { background-size: cover; }



/* Widths & Heights================================================================== */
.w-100p { width: 100% !important; }
.h-100-vh { height: 100vh }
.h-100p{height: 100%;}




/* Borders ===========================================================*/
.border { border: 1px solid $color-black; }
.border-dashed { border: 1px dashed $color-black ;}
.border-2 { border: 2px solid $color-black; }
.border-top{border-top: 1px solid $color-black;}
.border-bot { border-bottom: 1px solid $color-black; }
.border-bottom { border-bottom: 1px solid rgb(255, 255, 255,0.4); }
.border-0 { border: none }
.border-1-5{border: 1.5px solid $color-black;}
.border-right{border-right: 1px solid $color-black;}

/*Radius============================================================*/
.radius-50p{border-radius: 50%;}




/* Flex positioning ============================================================*/
.d-flex {
    display:flex ;
    &-x-center { display: flex !important; justify-content: center }
    &-x-between { display: flex !important; justify-content: space-between }
    &-y-center { display: flex !important; align-items: center }
    &-xy {
      @extend .d-flex-x-center;
      @extend .d-flex-y-center;
    }
  }

.d-inline-flex {
    &-x-center { display: inline-flex !important; justify-content: center }
    &-y-center { display: inline-flex !important; align-items: center }
    &-xy {
      @extend .d-inline-flex-x-center;
      @extend .d-inline-flex-y-center;
    }
  }
  
.d-none{display: none!important;}

.flex-wrap{flex-wrap: wrap;}

/* Icons */
.icon {
    display: inline-flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
  }
  
  


/*Input styles====================================================================*/
.resize-none{resize: none;}
.outline-0 { outline: none }


/*Others============================================================*/

.text-upper { text-transform: uppercase }
.text-capitalize { text-transform: capitalize;}
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.text-end{text-align: end;}
.underline-0 { text-decoration: none }
.opacity-0{opacity: 0;}
.opacity-01 {opacity: 0.1;}
.opacity-4{opacity: 0.4;}
.opacity-5 { opacity: 0.5 }
.opacity-6 { opacity: 0.6 }
.pos-absolute{position: absolute;}
.pos-relative{position: relative;}
.pos-fixed{position: fixed;}
.top-0{top: 0;}
.bottom-0{bottom: 0;}
.right-100p{right: 100%;}
.right-0{right: 0;}
.left-100p{left: 100%;}
.left-0{left: 0;}
.z-n1 { z-index: -1 !important; }
.z-100{z-index: 100;}
.z-200 {z-index: 200;}
.z-1000{z-index: 1000;}

.invert-1{filter: invert(1);}

.overflow-x-hidden{overflow-x: hidden;}
.pointer{cursor: pointer;}
.events-none * { pointer-events: none; }
.object-fit-none {object-fit: none;}
.object-fit-cover {object-fit: cover;}
.of-contain{object-fit: contain;}

.list-reset,
.list-reset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mx-auto{
  margin-right: auto;
  margin-left: auto;
}

.hover-node,
.hover,
.hover *,
.hover:hover * { transition: all 400ms ease }
.hover-darkest:hover { filter: brightness(85%) }





/*Selectric
.selectric{
  border: none;
  padding-left: 48px;
}
.selectric-open{z-index: 100;}
.selectric-wrapper{width: 100%}
.selectric .label{@extend .color-ebony-clay;}
.selectric .button{@extend .d-none;}
.selectric-items{
  border-radius: 0 0 6px 6px;
  @extend .border-E5E8ED;
}

.step .selectric{
  @extend .border;
  @extend .border-E5E8ED;
  @extend .radius-6;
  padding-left: 16px;
}

.step .selectric .label{margin: 0;}

.education-form .selectric-wrapper{margin-top: 4px;}
*/

.parsley-error input + label,
.parsley-error { 
  border-color: red !important; 
  outline-color: red; 
  border-width: 2px !important;
  border-style: solid ;
}



/*Hamburger menu - mobile menu */
  
.hamburger {
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover { opacity: 0.7; }
.hamburger.is-active:hover { opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after { background-color: $color-white; }
.hamburger.is-active.hamburger-hover-no:hover,
.hamburger-hover-no:hover { opacity: 1 }

.hamburger-box {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 32px;
  height: 2px;
  background-color: $color-white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
  background-color: inherit;
}
.hamburger-inner::before { top: -6px; }
.hamburger-inner::after { bottom: -6px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before { transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
.hamburger--squeeze .hamburger-inner::after { transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger-border {
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 9px 11px;
}

.hamburger-border.hamburger.is-active .hamburger-inner,
.hamburger-border.hamburger.is-active .hamburger-inner::before,
.hamburger-border.hamburger.is-active .hamburger-inner::after,
.hamburger-border .hamburger-inner:before,
.hamburger-border .hamburger-inner:after,
.hamburger-border .hamburger-inner { background-color: #fff; }
