/*All colors========================================================*/
:root {
    // bg
    --calendar-bg:#EAEAEA;
    --search-bg:#F8F8F8;
    --selectric-bg:#D0D2D6;
    --main-page-bg:#DFE0E3;
    --button-bg:#5A5E65;
    --btn-bg:#1D1E21;
    --btnn-bg:#E43123;
    --num-bg:#FBFBFB;
    --service-bg: #F1F1F1;
    --gasoil-bg:#4C4E54;
    --tires-bg:#1d1b1b;
    --footer-bg:#f3f3f3;
    

    
  
    
    
    
    // color
    --main-text: #1D1E21;
    --checkbox-text:#0072FF;
    --number-color:#E43123;
    --service-text:#393939;
    --link-color:#343434;
    --txt-color:#555555;
    
    
  }
  
  // https://chir.ag/projects/name-that-color - color names
  
  $all-colors: (
    bg-colors: (
      gallery: var( --calendar-bg),
      alabaster: var(--search-bg),
      iron: var(--selectric-bg),
      irongr:var(--main-page-bg),
      shuttle:var(--button-bg),
      shark:var(--btn-bg),
      alizarin:var(--btnn-bg),
      alabas:var(--num-bg),
      seashell:var(--service-bg),
      abbey:var(--gasoil-bg),
      cod:var(--tires-bg),
      concrete:var(--footer-bg)

        
    ),
    
    text-colors: (
      shark: var(--main-text),
      ribbon: var(--checkbox-text),
      crimson: var(--number-color),
      mine: var(--service-text),
      shaft: var(--link-color),
      emperor: var(--txt-color)
      

     
    )
  );
  
  /* Background colors=============================================================== */
  @include make-colors(map-get($all-colors, bg-colors), bg);
  

 


  /* Text colors=============================================================== */
  @include make-colors(map-get($all-colors, text-colors));


  /*Filter Colors*/
  .filter-crimson{filter: invert(23%) sepia(86%) saturate(4520%) hue-rotate(353deg) brightness(96%) contrast(86%);}


  /*Squares===============================================================*/
  $squares: (
    xs: (14:14,16:16,20:20,22:22,24:24, 28:28, 40:40,48:48, 56:56, 64:64,80:80)
  );

  @include make-shape($squares, square);


  /*Rectangles====================================*/
  $rectangles: (
  xs: (27: 20,29:24,120:17,202:48,190:48,116:20,109:43,101:48)
  
  );

  @include make-shape($rectangles);



/*Heights===============================================================*/
$heights:24, 26,30,40,88;
@each $height in $heights {
  .h-#{$height} { height: #{$height}px }
}
.full-height{height: calc(100vh - 56px)}


/*Widths===============================================================*/
$widths:6,160;
@each $width in $widths {
  .w-#{$width} { width: #{$width}px };
 
}


/* Borders ===============================================================*/
$border-colors: #D9D9D9, #fff, #1D1E21,#0072FF, #CACACA, #E4E6E9,#DEDEDE, #DDDDDD, #55555524, #C5C5C5 ;
@each $brd-color in $border-colors {
  $brd-color: str-replace(to-string($brd-color), '#', '');
  .border-#{$brd-color} { border-color: #{'#'}#{$brd-color} }
}

.border-top-right-E4E6E9{border-color: transparent #E4E6E9 #E4E6E9 transparent;}

/* Border radius=============================================================== */
$radius:2,3,;
@each $rad in $radius {
  .radius-#{$rad} { border-radius: #{$rad}px }  
}




/* Icons=============================================================== */
$icons: russian-flag, arrow-down, price, location, calendar,phone,search,c,shopping-cart,montaj,fb,instagram,youtube, studio-logo,user;
@each $icon in $icons {
  .icon-#{$icon} { background-image: url("../img/icons/"+ $icon +".svg") }
}




/*Images===============================================================*/
$images:  advertising-bg,  ;
@each $image in $images {
  .img-#{$image} { background-image: url("../img/"+ $image +".svg") }
}




/*Input styles=============================================*/


.input::placeholder{
  color: #272C38!important;
  opacity: 0.4!important;
 
 
}

input::-webkit-input-placeholder{
  @extend .color-shark;
  opacity: 0.5;
  font-size: 15px;
  line-height: 24px;
  transition: all .4s ease;
  @extend .fw-400;
}

:focus::-webkit-input-placeholder{opacity: 1;}


/*Others===========================================================*/
.left-pos{
  left: 50%;
  transform: translateX(-50%);
}

.top-pos{
  top: 50%;
  transform: translateY(-50%);
}



.overflow-hidden{overflow: hidden;}


/*Hamburger Menu*/
.link-white {
  a, a * { color: $color-white !important; }

  .hamburger .hamburger-inner { background-color: $color-white; }

  #js-menu-mobile {
    a, a * { color: $color-black !important; }

    .hamburger .hamburger-inner { background-color: $color-black }
  }
}

/*Checkbox======================================*/
.checkmark{
  transition: all .6s ease;
}

.checkmark::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-50deg);
  opacity: 0;
  transition: all .6s ease;
}
 
#check:checked ~ .checkmark {
   background-color: #0072FF;
}

#check:checked ~ .checkmark::after {
  opacity: 1;
}