@media (max-width:321px){
  .w-i5-74{width: 74px;}
  .w-i5-132{width: 132px!important;}
  .mr-i5-1{margin-right: 4px!important;}
  .d-i5-none{display: none!important;}
}

@media (max-width:768px){
  .w-sm-100p{width: 100%;}
  .w-sm-160{width: 160px;}
}

@media (max-width:991px){
  .img-vector{background-image: url(../img/vector.svg);}
}



@media (min-width: map-get($break-points-config, md)) {
  
  /*Width height*/
  .w-md-100p{width: 100%;}
  .w-md-156 {width: 156px;}
  .w-md-469{width: 469px;}
  .h-md-40{height: 40px;}
  .h-md-410{height: 410px;}


  .square-md-20{
    width: 20px;
    height: 20px;
  }

  .rect-lg-154-56{
    width: 154px;
    height: 56px;
  }
  .rect-md-192-55{
    width: 192px;
    height: 55px;
  }
  .rect-md-469-188{
    width: 469px;
    height: 188px;
  }

  /*Colors*/
  .bg-md-iron{background-color: #D0D2D6;}
  

  /*Position*/
  .right-md-58p{right: -58%;}
  .bottom-md-12p{bottom: 12%;}

  /*Flex positioning ===================================================== */
  .d-md-flex {
    display: flex!important;
    &-x-center { display: flex !important; justify-content: center }
    &-x-between { display: flex !important; justify-content: space-between }
    &-y-center { display: flex !important; align-items: center }
    &-xy {
      @extend .d-md-flex-x-center;
      @extend .d-md-flex-y-center;
    }
  }

  .d-md-none {display: none;}

  .border-md-right{border-right: 1px solid $color-black;}
  .border-md-D6DCE3{border-color: #D6DCE3;}
}


@media (min-width: map-get($break-points-config, lg)) {

  /*Colors*/
  .bg-lg-gradient-blue{background: linear-gradient(0deg, #222222, #222222), #4C4E54;}
 
  /*Widths=====================================================*/
  $widths:306, 350, 440, 470, 608, 625,672;
  @each $width in $widths {
    .w-lg-#{$width} { width: #{$width}px }
  }

  
  

  /*Heights=====================================================*/
  $heights: 24,58, 89, 164, 186, 472, 632, 640, 700, 708, 939 ;
  @each $height in $heights {
    .h-lg-#{$height} { height: #{$height}px }
  }

  .h-lg-100p{height: 100%;}

  .full-height-cabinet-lg{height: calc(100vh - 154px + 64px);}
  
  /*Border-radius=====================================================*/
  .radius-lg-32{border-radius: 32px;}
  .radius-lg-50 { border-radius: 50px }
  
  /*Rectangles====================================*/
  $rectangles: (
    lg: (480:72,306:284,150:30, )
    
    );

  @include make-shape($rectangles);


  /*Squares==============================================*/
  $squares: (
          lg: (13: 13, 16: 16, 24: 24, 32: 32, 40: 40, 48: 48, 52: 52,64:64, 80: 80, 116: 116)
      );
    @include make-shape($squares, square);


  /*Images===============================================================*/
  $images:  vector;
  @each $image in $images {
    .img-lg-#{$image} { background-image: url("../img/"+ $image +".svg") }
  }


  /*Others=====================================================*/
  .border-lg-none{border: none;}
  .bg-lg-right { background-position:right; }
  .text-lg-left { text-align: left }
  .text-lg-center{text-align: center;}
  .opacity-lg-1 { opacity: 1 }
  .object-fit-lg-none {object-fit: none;}
  .of-lg-contain{object-fit: contain;}

  .top-lg-55{top: 55px;}
  .top-lg-240{top: 240px;}
  .number-lg-pos{
    top: -4px;
    right: -4px;
  }

  .step-bar-pos{
    top: 4%;
    left: 10%;
  }

  .right-lg-25p{right: -25%;}

  .step1 .selectric, .step2 .selectric{
    padding-left: 5px;
  } 

  /*Flex positioning ===================================================== */
  .d-lg-flex {
    display: flex!important;
    &-x-center { display: flex !important; justify-content: center }
    &-x-between { display: flex !important; justify-content: space-between }
    &-y-center { display: flex !important; align-items: center }
    &-xy {
      @extend .d-lg-flex-x-center;
      @extend .d-lg-flex-y-center;
    }
  }

  .d-lg-none {display: none!important;}
  .d-lg-block {display: block!important;}
  .d-lg-inline-block {display: inline-block!important;}
  .d-lg-inline-flex{
    display: inline-flex!important;
    &-y-center{display: inline-flex!important; align-items: center;}
  }
 
  


}




/*---------------------------------------------------------------*/

@media (min-width: 1200px) {

    .container { max-width: 1240px }

    
    /*Height width*/
    .h-xl-100p{height: 100%;}
    .h-xl-89-vh{height: 89vh;}
    .h-xl-100vh{height: 100vh;}
    .w-xl-66p{width: 66%;}
    .w-xl-87p{width: 87%;}
    
    .rect-xl-210-30{
      width: 210px;
      height: 30px;
    }

    /*Others*/
    .bg-xl-right {background-position: right;}
    .right-xl-0 {right: 0;}
    .left-xl-6p {left: -6%;}
    
    .text-xl-left{text-align: left;}
    .text-xl-right{text-align: right;}

    .step-bar-pos{
      top: 6%;
      left: 25%;
    }

    .swiper-button-pos{
      bottom: 109px;
      right: 54%;
    }

    .step1 .selectric, .step2 .selectric{
      padding-left: 16px;
    }

    /*Flex positioning ===================================================== */
    .d-xl-flex {
      display: flex!important;
      &-x-center { display: flex !important; justify-content: center }
      &-x-between { display: flex !important; justify-content: space-between }
      &-y-center { display: flex !important; align-items: center }
      &-xy {
        @extend .d-xl-flex-x-center;
        @extend .d-xl-flex-y-center;
      }
    }

    .d-xl-inline-flex {
      display: inline-flex!important;
      &-x-center { display: inline-flex !important; justify-content: center }
      &-x-between { display: inline-flex !important; justify-content: space-between }
      &-y-center { display: inline-flex !important; align-items: center }
      &-xy {
        @extend .d-xl-flex-x-center;
        @extend .d-xl-flex-y-center;
      }
    }

    .d-xl-none{display: none!important;}
}


@media ( min-width: 1445px ) {
  .delete{right: -215px; }
  .w-ext-130{width: 130px;}
  .w-ext-210{width: 210px;}
}